/*  CSS DATAMANGER PACKAGE  - UVEG - fransola@uv.es   */
p, div, h4, h3 {margin:0px; padding:0px;}

div.w100 {width:100%; margin-bottom:1em}
div.container { width:auto; text-align:left;}
div.spacer { clear: both; font: 0.4em arial; border:0px solid red }
div.big_spacer { clear: both; font: 1.2em arial; border:0px solid red }
div.float { float: left; padding:0.5em; border:0px solid green}
div.float p { text-align: center; }  
div.objects  { padding-bottom: 1em }  
div.head {width:80%;background:#6C9A83; color:#ffffff; padding-left:0.5em}
div.content {width:80%;background:#E0EFE7; padding-left:0.5em; padding-top:0.5em; border:0px solid red}


h3.black {display:block; width: 100%; color:#000000; font:1.2em Arial; text-align:left;font-weight:bold}
h4.black {display:block; width: 100%; margin:0px; padding:0px}

ul {display:block; background:inherit}

div.content li {float: left; padding-right:2.5em;}
div.content li a {text-decoration:underline}
li.float {float: left; padding-right:2.5em;}

